
.login {
	display: block;
	margin: auto;
	padding: 10px;
	width: 330px;
	height: 140px;
	background-color: silver;
}

.button {

}

.email {
	
	width: 20em;
	
}

.ui-panelgrid-footer {
	text-align: right !important;
}